/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
bundle.js
uranai.csv
export.csv
export2.csv
export3.csv
export4.csv
export5.csv
export6.csv
export7.csv
export8.csv
export9.csv
export10.csv
export11.csv
export12.csv
export13.csv
chaged_data_edit1.csv
chaged_data_edit2.csv
chaged_data_edit3.csv
chaged_data_edit4.csv
output.php
word_date.csv