
@media screen and (min-width:1280px) {
header{
  width:100%;
  height:60px;
  background-color: #003366;
  position: fixed!important;
}

a {
  color: black;
}
a:hover {
  text-decoration: none!important;
}

.title{
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  width: 50%;
  float:left;
  margin-left:70px;
}

.text_font{
  color: #FFFFAA;
}


.head_content{
  margin-top:8px;
  margin-bottom:8px;
  width:100%;
  height:50px;
  display: inline-block;
  padding-right: 100px;
  padding-left: 150px;
}

.par_button{
  margin-top:3px;
  margin-left:80px;
  float:left;
}

.user_name_box{
  background-color: #CCFFFF;
  margin-left:10px;
  margin-right:10px;
  padding:6px;
  float:left;
  border-radius: 5px;
}

.logout_box{
  background-color: #FFDDFF;
  margin-left:10px;
  margin-right:10px;
  padding:6px;
  float:left;
  border-radius: 5px;
}

.main_page{
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  background-color: #F3FFD8;
}

.d_image_box{
  position: absolute;
  top: 230px;
  left: 400px;
}


.d_image{
  height: 35%;
  width: 35%;
}
.d_image:hover {
  filter:drop-shadow(10px 10px 10px #4e4e4e);
  transition: 0.4s;
  margin-bottom: 10px;
  margin-right: 10px;
}

.d2_image_box{
  margin:0 300px;
}

.my_image{
  height: 35%;
  width: 35%;
  margin-left: 450px;
  margin-top: 80px;
}

}