.main_page{
  width: 100%;
}

.main_box{
  margin: auto 400px;
}
.per_box{
  padding: 20px 0 30px 0;
  background-color: #EDFFBE;
  box-shadow: 1px 1px 2px gray;
  height: 300px;
}

.per_img_box_box{
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

.icon_image{
  border-radius: 50px;
  border: 3px solid #CCCCFF;
}

.per_name{
  padding-top: 8px;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  font-size: 1.3rem;
}

.content_box{
  padding-top: 15px;
}

.form_box{
  margin-left: 46px;
  width: 100px;
  text-align:center;
  background-color: #FFCCFF;
  border-radius: 5px;
  border: 3px solid #FF55FF;
  float: left;
}

.form_box:hover {
  filter:drop-shadow(10px 10px 10px #4e4e4e);
  transition: 0.4s;
}

.new_content{
  color: black;
  height: 2px;
}

.edit_profile_box{
  margin-left: 46px;
  width: 100px;
  text-align:center;
  background-color: #CCFFFF;
  border-radius: 5px;
  border: 3px solid #00FFFF;
  float: left;
}

.edit_profile_box:hover {
  filter:drop-shadow(10px 10px 10px #4e4e4e);
  transition: 0.4s;
}

.likes_box{
  margin-left: 46px;
  width: 100px;
  text-align:center;
  background-color: #FFEEFF;
  border-radius: 5px;
  border: 3px solid #FF55FF;
  float: left;
}

.likes_box:hover {
  filter:drop-shadow(10px 10px 10px #4e4e4e);
  transition: 0.4s;
}

.user_logout_box{
  margin-left: 46px;
  width: 100px;
  text-align:center;
  background-color: #EEEEEE;
  border-radius: 5px;
  border: 3px solid #888888;
  float: left;
}

.user_logout_box:hover {
  filter:drop-shadow(10px 10px 10px #4e4e4e);
  transition: 0.4s;
}

.content_zone{
  padding-top: 50px;
}

.list_title{
  width: 120px;
  background-color: #003366;
  color: #FFFFAA;
  padding-left:10px;
  border-radius: 10px 20px 10px 20px;
  font-size: 1.3rem;
}

.main_zone{
  margin-left: 10px;
  margin-right: 10px;
  background-color: #EDFFBE;
  box-shadow: 1px 1px 2px gray;
  padding-left: 10px;
}

