.main_page{
  width: 100%;
}

.main_box{
  margin: auto 400px;
}
.per_box{
  padding: 20px 0 30px 0;
  background-color: #EDFFBE;
  box-shadow: 1px 1px 2px gray;
  height: 300px;
}

.per_img_box_box{
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

.icon_image{
  border-radius: 50px;
  border: 3px solid #CCCCFF;
}

.per_name{
  padding-top: 8px;
  width: 100%;
  margin: 0 auto;
  text-align:center;
  font-size: 1.3rem;
}

.content_box{
  padding-top: 15px;
}

.form_box{
  margin-left: 40px;
  width: 100px;
  text-align:center;
  background-color: #FFCCFF;
  border-radius: 5px;
  border: 3px solid #FF55FF;
}

.form_box:hover {
  filter:drop-shadow(10px 10px 10px #4e4e4e);
  transition: 0.4s;
}

.new_content{
  color: black;
  height: 2px;
}
